<%
if(data){
    var name = data.name;
    var file = data.file;
    var filesize = data.filesize;
    var path_file = data.path_file;
%>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Editar <%=name%></h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-3">
            <a href="<%=path_file%>" class="fancybox" rel="gallery" data-fancybox-group="gallery">
            <img src="<%=url%>gallery/image/thumb/<%=file%>" class="img-responsive center-block">
            </a>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                <label>Nome</label>
                <input type="text" name="name" value="<%=name%>" id="field-name" class="form-control">
            </div>
            <div class="form-group">
                <label>Nome do arquivo</label>
                <input type="text" name="new_file" value="<%=file%>" id="field-file" class="form-control">
            </div>
            <div id="message-edit"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-primary" data-file="<%=file%>" id="btn-save-edit">Salvar</button>
</div>
<%
}else{
%>
<div class="modal-body">Não foi possível abrir esse arquivo. Clique <button type="button" class="close" data-dismiss="modal" aria-label="Close">aqui</button> para fechar o modal.</div>
<%
}
%>