{% extends "template.twig" %}
{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{base_url()}}"><i class="fa fa-home"></i></a></li>
        <li><a href="{{base_app_url()}}">{{name_app}}</a></li>
        <li class="active">{{title}}</li>
    </ul>
    <div class="row">
        <div class="col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{title}}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {{validation_errors('<p class="alert alert-danger">', '</p>')|raw}}
                    {{form_open(null, {'class':'form-horizontal'})|raw}}
                    <div class="tab-pane active in" id="home">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>{{lang.line(APP ~ '_label_name')}}*</label>
                                    <input type="text" name="name" value="{{set_value('name', name)}}" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>{{lang.line(APP ~ '_label_lastname')}}</label>
                                    <input type="text" name="lastname" value="{{set_value('lastname', last_name)}}" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>{{lang.line(APP ~ '_label_email')}}*</label>
                                    <input type="email" name="email" value="{{set_value('email', email)}}" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>{{lang.line(APP ~ '_label_login')}}*</label>
                                    <input type="text" name="login" value="{{set_value('login', login)}}" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>{{lang.line(APP ~ '_label_password')}}*</label>
                                    <div class="input-group">
                                        <input type="password" name="password" value="{{set_value('password')}}" class="form-control input-pass">
                                        <a href="#rand-pass" class="btn btn-default generate-pass input-group-addon" data-toggle="modal">
                                            <span class="fa fa-key fa-fw"></span>
                                            {{lang.line(APP ~ '_btn_gen_password')}}
                                        </a>
                                    </div>
                                    {% if uri.segment(2) == 'edit' %}
                                        <small>{{lang.line(APP ~ '_obs_password')}}</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="{% if user_data.root == '1' %}col-sm-4{% else %}col-sm-12{% endif %} col-xs-12">
                                <div class="form-group">
                                    <label>{{lang.line(APP ~ '_label_status')}}</label>
                                    <select name="status" class="form-control">
                                        <option value="1" {{set_select('status', '1', (status == '1'))}}>{{lang.line(APP ~ '_status_option_enabled')}}</option>
                                        <option value="0" {{set_select('status', '0', (status == '0'))}}>{{lang.line(APP ~ '_status_option_disabled')}}</option>
                                    </select>
                                </div>
                            </div>

                            {% if user_data.root == '1' %}
                                <div class="col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>{{lang.line(APP ~ '_label_dev_mode')}}</label>
                                        <select name="allow_dev" class="form-control">
                                            <option value="0" {{set_select('allow_dev', '0', (allow_dev == '0'))}}>{{lang.line(APP ~ '_dev_mode_option_deny')}}</option>
                                            <option value="1" {{set_select('allow_dev', '1', (allow_dev == '1'))}}>{{lang.line(APP ~ '_dev_mode_option_allow')}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>{{lang.line(APP ~ '_label_permission_root')}}</label>
                                        <select name="root" class="form-control">
                                            <option value="0" {{set_select('root', '0', (root == '0'))}}>{{lang.line(APP ~ '_permission_root_option_no')}}</option>
                                            <option value="1" {{set_select('root', '1', (root == '1'))}}>{{lang.line(APP ~ '_permission_root_option_yes')}}</option>
                                        </select>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>{{lang.line(APP ~ '_label_about')}}</label>
                                    <textarea name="about" class="form-control">{{set_value('about', about)}}</textarea>
                                </div>
                            </div>
                        </div>
                        {% if permissions and check_method('edit-permission') and id_user != user_data.id and (user_data.root != '1' or id_user != user_data.id)%}
                            <br>
                            <div class="x_title">
                                <h2>{{lang.line(APP ~ '_title_manage_permissions')}}</h2>
                                <div class="clearfix"></div>
                            </div>
                            {% for app in permissions %}
                                {% set check_app = check_app(app.app, id_user)%}
                                <table class="table table-responsive table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>{{app.name}}</th>
                                            <td width="60" align="center">
                                                <input type="checkbox" data-app="true" name="{{app.app}}" value="1" {% if check_app%}checked="checked"{% endif %} class="check-permission">
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody id="{{app.app}}-list">
                                        {% for page, arr in app.permissions %}
                                            {% for method, label in arr %}
                                                {% if is_array(label) == false %}
                                                    {% set parent_method = method%}
                                                    {% set check_method = check_method(method, app.app)%}
                                                    {% set check_method_user = check_method(method, app.app, id_user)%}
                                                    {% if check_method or user_data.root == '1' %}
                                                        <tr>
                                                            <td>{{label}}</td>
                                                            <td align="center">
                                                                <input type="checkbox" data-page="{{app.app ~ '/' ~ page}}" name="{{app.app ~ '-' ~ method}}" value="1" {% if uri.segment(3) == 'create' or check_method_user%} checked="checked" {% endif %} {% if check_app == false %}disabled readonly{% endif %} class="check-permission">
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% else %}
                                                    {% set labels = label%}
                                                    {% for method, label in labels%}
                                                        {% set check_method = check_method(method, app.app)%}
                                                        {% set check_method_user = check_method(method, app.app, id_user)%}
                                                        {% set parent_check_method = check_method(parent_method, app.app, id_user)%}
                                                        {% if check_method or user_data.root == '1'%}
                                                            <tr>
                                                                <td>&nbsp; - {{label}}</td>
                                                                <td align="center"><input type="checkbox" data-sub="{{app.app ~ '/' ~ page}}" name="{{app.app ~ '-' ~ method}}" value="1" {% if uri.segment(3) == 'create' or check_method_user %} checked="checked" {% endif %} {% if check_app == false or parent_check_method == false %}disabled readonly{% endif %} class="check-permission"></td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor%}
                                                {% endif%}
                                            {% endfor%}
                                        {% endfor%}
                                    </tbody>
                                </table>
                            {% endfor%}
                        {% endif%}

                        <div class="form-group text-right">
                            <input class="btn btn-primary" value="Salvar" name="send" type="submit">
                        </div>
                    </div>
                    {{form_close()|raw}}
                    <div class="modal fade" id="rand-pass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">{{lang.line(APP ~ '_title_modal')}}</h4>
                                </div>
                                <div class="modal-body">
                                    <h2 class="get-password"></h2>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">{{lang.line(APP ~ '_btn_cancel')}}</button>
                                    <button class="btn btn-primary bt-ok" data-dismiss="modal">{{lang.line(APP ~ '_btn_save_password')}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}