<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">{{file}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-3">
            <a href="{{path_file}}" class="fancybox" rel="gallery" data-fancybox-group="gallery">
                <img src="{{base_url('apps/gallery/image/thumb?file=' ~ file)}}" class="img-responsive center-block">
            </a>
        </div>
        <div class="col-sm-9">
            <table class="table table-bordered">
                <tr>
                    <td><strong>{{lang.line('gallery_file_label')}}</strong></td>
                    <td>
                        <div style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; max-width: 300px;">
                            <a href="{{path_file}}" target="_blank">{{file}}</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><strong>{{lang.line('gallery_size_label')}}</strong></td>
                    <td>{{filesize}}</td>
                </tr>
            </table>
            {% if is_array(thumbnails) and count(thumbnails) > 0 %}
                <h4>{{lang.line('gallery_thumbnails_label')}}</h4>
                <div class="row">
                    <div class="col-sm-3">
                        {% for thumb_file in thumbnails %}
                            <a href="{{base_url('../wd-content/upload/' ~ thumb_file)}}" class="fancybox" rel="gallery" data-fancybox-group="gallery">
                               <img src="{{base_url('apps/gallery/image/thumb/' ~ thumb_file)}}" class="img-responsive center-block">
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>