<div class="row">
    <%
    if (data) {
        var files = data.files;
        var total_files = files.length;
        var total = data.total;
        var pagination = data.pagination;
        if(total_files){
            for(var i=0; i < total_files; i++){
                var file = files[i].file;
                %>
    <div class="col-sm-2 col-xs-6 file" data-file="<%=file%>">
        <div class="image-file">
            <a href="#" class="btn-view-file" data-toggle="modal" data-target="#details">
                <img src="<%=app_path+'image/thumb/'+file%>" title="<%=file%>" alt="<%=file%>" class="img-responsive thumbnail">
            </a>
            <div class="options-file">
                <%
                if(edit=="1"){
                %>
                <a href="javascript:void(0);" data-toggle="modal" data-target="#edit" class="btn-edit-file">
                    <span class="fa fa-edit"></span>
                </a>
                <%
                }
                if(remove=="1"){
                %>
                <a href="javascript:void(0);" class="btn-delete-file">
                    <span class="fa fa-remove"></span>
                </a>
                <%
                }
                %>
            </div>
        </div>
        <div class="name-file"><%=file%></div>
    </div>
    <%
            }
            if (pagination) {
                %>
                <div class="col-xs-12">
                    <ul class="pagination pagination-sm"><%=pagination%></ul>
                </div>
                <%
            }
        }else{
%>
        <div class="col-xs-12">Envie um arquivo.</div>
<%
        }
    } else {
    %>
    <div class="col-xs-12">Envie um arquivo.</div>
    <%
    }
    %>
</div>