<div class="col-sm-12">
    <h3><%=lang.gallery_modal_title_list_files%></h3>
    <div id="list-files">
        <div class="row">
            <%
            if (data) {
                var files = data.files;
                var total_files = files.length;
                var total = data.total;
                var pagination = data.pagination;
                var saved_list = config.saved_list;
                if(total_files){
                    for(var i=0; i < total_files; i++){
                        var file = files[i].file;
                        %>
                        <div class="col-sm-2 col-xs-6 file" data-file="<%=file%>">
                            <div class="image-file <% if($.inArray(file, saved_list) != '-1'){%>active<% }%>">
                                <img src="<%=url%>apps/gallery/image/thumb/<%=file%>" title="<%=file%>" alt="<%=file%>" class="img-responsive thumbnail">
                                <a href="javascript:void(0);" class="btn btn-primary options-file btn-add"><span class="fa fa-2x fa-check"></span></a>
                            </div>
                            <div class="name-file">
                                <a href="<%=url+"../wd-content/upload/"+file%>" class="fancybox" rel="gallery" data-fancybox-group="gallery">
                                    <%=file%>
                                </a>
                            </div>
                        </div>
                        <%
                    }
                    if (pagination) {
                        %>
                        <div class="col-xs-12">
                            <ul class="pagination pagination-sm"><%=pagination%></ul>
                        </div>
                        <%
                    }
                }else{
                %>
                <div class="col-xs-12"><%=lang.gallery_files_not_found%></div>
                <%
                }
            } else {
            %>
            <div class="col-xs-12"><%=lang.gallery_files_not_found%></div>
            <%
            }
            %>
        </div>
    </div>
</div>