<%
if(data){
var name = data.name;
var file = data.file;
var filesize = data.filesize;
var path_file = data.path_file;
%>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Detalhes <%=name%></h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-3">
            <a href="<%=path_file%>" class="fancybox" rel="gallery" data-fancybox-group="gallery">
                <img src="<%=url%>apps/gallery/image/thumb/<%=file%>" class="img-responsive center-block">
            </a>
        </div>
        <div class="col-sm-9">
            <table class="table table-bordered">
                <tr>
                    <td><strong>Nome</strong></td>
                    <td><%=name%></td>
                </tr>
                <tr>
                    <td><strong>Tamanho</strong></td>
                    <td><%=filesize%></td>
                </tr>
                <tr>
                    <td><strong>Arquivo</strong></td>
                    <td><div style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; max-width: 300px;"><a href="<%=path_file%>" target="_blank"><%=file%></a></div></td>
                </tr>
            </table>

        </div>
    </div>
</div>

<%
}else{
%>
<div class="modal-body">Não foi possível abrir esse arquivo. Clique <button type="button" class="close" data-dismiss="modal" aria-label="Close">aqui</button> para fechar o modal.</div>
<%
}
%>