<%
if(file){
    var title = file.title;
    var file = file.file;
%>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Editar</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-3">
            <a href="<%=base_url%>wd-content/upload/<%=file%>" class="fancybox" rel="gallery" data-fancybox-group="gallery">
            <img src="<%=url%>apps/gallery/image/thumb/<%=file%>" class="img-responsive center-block">
            </a>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                <label>Título</label>
                <input type="text" name="title" value="<%=title%>" id="field-title" class="form-control">
            </div>
            <div id="message-edit"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    <button type="button" class="btn btn-primary" data-file="<%=file%>" id="btn-save-edit">Salvar</button>
</div>
<%
}else{
%>
<div class="modal-body">Não foi possível abrir esse arquivo. Clique <button type="button" class="close" data-dismiss="modal" aria-label="Close">aqui</button> para fechar o modal.</div>
<%
}
%>