<tr class="field-current btn-edit" data-index="<%=index%>">
    <td>
        <input type="hidden" class="name-val" name="name_field[<%=index%>]" value="<%=name%>">
        <input type="hidden" class="input-val" name="input_field[<%=index%>]" value="<%=input%>">
        <input type="hidden" class="list-registers-val" name="list_registers_field[<%=index%>]" value="<%=list_registers%>">
        <input type="hidden" class="column-val" name="column_field[<%=index%>]" value="<%=column%>">
        <input type="hidden" class="type-val" name="type_field[<%=index%>]" value="<%=type_column%>">
        <input type="hidden" class="plugins-val" name="plugins_field[<%=index%>]" value="<%=plugin%>">
        <input type="hidden" class="require-val" name="required_field[<%=index%>]" value="<%=required%>">
        <input type="hidden" class="observation-val" name="observation_field[<%=index%>]" value="<%=observation%>">
        <input type="hidden" class="attributes-val" name="attributes_field[<%=index%>]" value='<%=attributes%>'>
        <input type="hidden" class="unique-val" name="unique_field[<%=index%>]" value="<%=unique%>">
        <input type="hidden" class="limit-val" name="limit_field[<%=index%>]" value="<%=limit_column%>">
        <input type="hidden" class="comment-val" name="comment_field[<%=index%>]" value="<%=comment_column%>">
        <input type="hidden" class="default-val" name="default_field[<%=index%>]" value="<%=default_column%>">
        <input type="hidden" class="position-val" name="position[<%=index%>]" value="<%=position%>">
        <!--Inputs of config to select and checkbox-->
        <input type="hidden" class="options-val" name="options_field[<%=index%>]" value="<%=options%>">
        <input type="hidden" class="label-options-val" name="label_options_field[<%=index%>]" value="<%=label_options%>">
        <input type="hidden" class="trigger-select-val" name="trigger_select_field[<%=index%>]" value="<%=trigger_select%>">
        <input type="hidden" class="options-selected" name="options_selected[<%=index%>]" value='<%=options_selected%>'>
        <!--Inputs of config to upload-->
        <input type="hidden" class="extensions-allowed-val" name="extensions_allowed[<%=index%>]" value="<%=extensions_allowed%>">
        <input type="hidden" class="image-resize-val" name="image_resize[<%=index%>]" value="<%=image_resize%>">
        <input type="hidden" class="image-x-val" name="image_x[<%=index%>]" value="<%=image_x%>">
        <input type="hidden" class="image-y-val" name="image_y[<%=index%>]" value="<%=image_y%>">
        <input type="hidden" class="image-ratio-val" name="image_ratio[<%=index%>]" value="<%=image_ratio%>">
        <input type="hidden" class="image-ratio-x-val" name="image_ratio_x[<%=index%>]" value="<%=image_ratio_x%>">
        <input type="hidden" class="image-ratio-y-val" name="image_ratio_y[<%=index%>]" value="<%=image_ratio_y%>">
        <input type="hidden" class="image-ratio-crop-val" name="image_ratio_crop[<%=index%>]" value="<%=image_ratio_crop%>">
        <input type="hidden" class="image-ratio-fill-val" name="image_ratio_fill[<%=index%>]" value="<%=image_ratio_fill%>">
        <input type="hidden" class="image-background-color-val" name="image_background_color[<%=index%>]" value="<%=image_background_color%>">
        <input type="hidden" class="image-convert-val" name="image_convert[<%=index%>]" value="<%=image_convert%>">
        <input type="hidden" class="image-text-val" name="image_text[<%=index%>]" value="<%=image_text%>">
        <input type="hidden" class="image-text-color-val" name="image_text_color[<%=index%>]" value="<%=image_text_color%>">
        <input type="hidden" class="image-text-background-val" name="image_text_background[<%=index%>]" value="<%=image_text_background%>">
        <input type="hidden" class="image-text-opacity-val" name="image_text_opacity[<%=index%>]" value="<%=image_text_opacity%>">
        <input type="hidden" class="image-text-background-opacity-val" name="image_text_background_opacity[<%=index%>]" value="<%=image_text_background_opacity%>">
        <input type="hidden" class="image-text-padding-val" name="image_text_padding[<%=index%>]" value="<%=image_text_padding%>">
        <input type="hidden" class="image-text-position-val" name="image_text_position[<%=index%>]" value="<%=image_text_position%>">
        <input type="hidden" class="image-text-direction-val" name="image_text_direction[<%=index%>]" value="<%=image_text_direction%>">
        <input type="hidden" class="image-text-x-val" name="image_text_x[<%=index%>]" value="<%=image_text_x%>">
        <input type="hidden" class="image-text-y-val" name="image_text_y[<%=index%>]" value="<%=image_text_y%>">
        <input type="hidden" class="image-thumbnails-val" name="image_thumbnails[<%=index%>]" value="<%=image_thumbnails%>">

        <%=name%>
    </td>
    <td><%=input%></td>
    <td><%=column%></td>
    <td><%=type_column%></td>
    <td align="center"><i class="fa fa-<% if(list_registers=='1'){%>check<% } else{%>remove<% } %>"></i></td>
    <td align="center"><input type="checkbox" name="remove_field[<%=index%>]" title="Remover campo"> </td>
</tr>