{% extends "login/template.twig" %}
{% block content %}
    <div class="">
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>

        <div id="wrapper">
            <div id="login" class=" form">
                <section class="login_content">
                    {{form_open()|raw}}
                    <div align="center">
                        <img src="{{base_url('assets/images/widecms.png')}}" class="logo img-responsive">
                    </div>
                    <div>
                        <input type="text" name="login" value="{{set_value('login')}}" class="form-control" placeholder="{{lang.line('login_login_field')}}" required="" />
                    </div>
                    <div>
                        <input type="password" name="password" class="form-control" placeholder="{{lang.line('login_password_field')}}" required="" />
                    </div>
                    {% if captcha %}
                        <div>
                            <label for="captcha">{{captcha.image|raw}}</label>
                            <br>
                            <input type="text" class="form-control" autocomplete="off" name="captcha" placeholder="{{lang.line('login_captcha_field')}}" />
                        </div>
                    {% endif %}
                    <div>
                        <input value="{{lang.line('login_login_btn')}}" name="access" class="btn btn-primary pull-right" type="submit">
                        <a class="reset_pass" href="{{base_url('login/recovery')}}">{{lang.line('login_password_recovery')}}</a>
                    </div>
                    {{form_close()|raw}}
                    {{validation_errors('<p class="alert alert-danger">', '</p>')|raw}}
                </section>
            </div>
        </div>
    </div>
{% endblock %}

