<div class="row">
    <%
    var total_files = Object.keys(files).length;
    if(total_files){
        for(var i=0; i < total_files; i++){
            var file = files[i].file;
            %>
            <div class="col-sm-3 file" data-file="<%=file%>">
                <div class="image-file">
                    <a href="#" class="btn-view-file" data-toggle="modal" data-target="#details">
                        <img src="<%=url%>gallery/image/thumb/<%=file%>" title="<%=file%>" alt="<%=file%>" class="img-responsive">
                    </a>
                    <div class="options-file hide">
                        <a href="#" class="btn btn-primary btn-delete-file"><span class="fa fa-remove"></span></a>
                    </div>
                </div>
                <div class="name-file"><%=file%></div>
            </div>
            <%
        }
    }else {
    %>
    <div class="col-sm-12">Adicione um arquivo.</div>    
    <%
    }
    %>
</div>
<div id="msg-add-file"></div>