<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="modal-edit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><%=LANG.modal_title_edit_file%></h4>
            </div>
            <div class="modal-body">
                <input type="hidden" value="" id="field-edit" class="form-control">
                <input type="hidden" value="" id="field-file" class="form-control">
                <input type="hidden" value="" id="field-index" class="form-control">
                <div class="row">
                    <div class="col-sm-3 text-center">
                        <a href="" id="field-image-file" class="fancybox" rel="gallery" data-fancybox-group="gallery">
                            <img src="" class="img-responsive center-block">
                        </a>
                        <button id="btn-remove-file" class="btn btn-sm btn-danger" data-dismiss="modal"><span class="fa fa-remove"></span> <%=LANG.modal_btn_remove%></button>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group">
                            <label><%=LANG.modal_label_title%></label>
                            <input type="text" name="title" value="" id="field-title" class="form-control">
                        </div>
                        <div class="form-group">
                            <label><input type="checkbox" name="checked" id="field-checked"> <%=LANG.modal_label_main%> </label>
                        </div>
                    </div>
                </div>
                <div id="message-edit"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><%=LANG.modal_btn_close%></button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn-save-edit"><%=LANG.modal_btn_save%></button>
            </div>
        </div>
    </div>
</div>